@using ProjetoTurma.Enum
@model AlunoModel
@{
    ViewData["Title"] = "Cadastro Aluno";
}

<div class="text-center">
    <h2 class="display-4">Cadastro de Aluno e Turma</h2>
</div>

<form asp-controller="Aluno" asp-action="Cadastrar">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome">
    @Html.ValidationMessageFor(x => x.Nome)
  </div>
  <div class="form-group">
    <label for="e-mail">E-mail</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="Email">
    @Html.ValidationMessageFor(x => x.Email)
  </div>
  <div class="form-group">
    <label for="escola">Escola</label>
    <input type="text" asp-for="Escola" class="form-control" placeholder="Escola">
    @Html.ValidationMessageFor(x => x.Escola)
  </div>
   <div class="form-group">
    <label for="e-curso">Curso</label>
    <input type="text" asp-for="Curso" class="form-control" placeholder="Curso">
    @Html.ValidationMessageFor(x => x.Curso)
  </div>
  <div class="form-group">
    <label for="situação">Situação</label>
    <select class="form-control" asp-for="Situacao">
        <option value="0">Selecione</option>
        <option value="@SituacaoEnum.EmAndamento">Em andamento</option>
        <option value="@SituacaoEnum.Concluido">Concluído</option>
    </select>
    @Html.ValidationMessageFor(x => x.Situacao)
  </div>
  <button type="submit" class="btn btn-primary">Cadastro Aluno</button>
</form>