@model List<AlunoModel>
@{
    ViewData["Title"] = "Consultar Aluno";
}

<div class="text-center">
    <h2 class="display-4">Consultar Aluno</h2>
</div>

<br/>

  @if(TempData["MensagemSucesso"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemSucesso"]
        </div>   
    }

    @if(TempData["MensagemErro"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemErro"]
        </div>   
    }

<br/>

<table class="table table-striped" id="table-alunos">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Escola</th>
      <th scope="col">Curso</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
        @if (Model != null && Model.Any())
        {
            foreach(var aluno in Model)
            {
                 <tr>
                  <th scope="row">@aluno.Id</th>
                  <td>@aluno.Nome</td>
                  <td>@aluno.Email</td>
                  <td>@aluno.Escola</td>
                  <td>@aluno.Curso</td>
                  <td>@aluno.Situacao</td>
                </tr> 
            }
        }
  </tbody>
</table>